@model AppUILayer.Model.BlogInfoModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Logout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<style>
    h2 {
        color: #dc3545;
    }

    h3 {
        color: #007bff;
    }

    .dl-horizontal dt {
        color: #333;
        font-weight: bold;
        margin-top: 10px;
    }

    .dl-horizontal dd {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .btn-default {
        background-color: #dc3545;
        color: #fff;
    }

        .btn-default:hover {
            background-color: #c82333;
        }
</style>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpEmailId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpEmailId)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
